{{#if entry}}<h3>{{ entry.title }}</h3>{{/if}}
{{#if entry}}<p>{{ entry.body }}</p>{{/if}}
<p>Date: {{ date }}</p>
{{#if date }}
    <hr/>
    <p><a href="/entry/destroy?key={{date}}">Delete</a>
     | <a href="/entry/edit?key={{date}}">Edit</a></p>
{{/if}}