<div class="paper" style="padding-bottom:0px">
    <form id="formAddEditEntry" method='POST' action='/save'>
        {{#if entryData.docreate}}
        <input type='hidden' name='docreate' value="create">
        {{else}}
        <input type='hidden' name='docreate' value="update">
        {{/if}}
        <div class="row small-spacing">
            <!-- message -->
            {{#if message}}
            <div class="col sm-12 small-spacing">
                <input class="alert-state" id="alert-5" type="checkbox">
                <div class="alert {{message.class}} dismissible">
                    {{message.message}}
                    <label class="btn-close" for="alert-5">X</label>
                </div>
            </div>
            {{/if}}
            <div class="col sm-4 small-spacing">
                <div class="form-group">
                    <label for="formattedDate">Date</label>
                    {{#if entryData.docreate }}
                    <input type="text" name="formattedDate" id="formattedDate" class="input-block"
                        value="{{entryData.formattedDate}}" readonly>
                    {{else}}
                    <input type="text" name="formattedDate" id="formattedDate" class="input-block" disabled
                        value='{{entryData.formattedDate}}'>
                    {{/if}}
                    <input hidden type="text" name="date" value='{{entryData.date}}'>
                </div>
            </div>
            <div class="col sm-8 small-spacing">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="input-block" placeholder="Title"
                        autocomplete="off" autofocus value='{{#if entryData.entry }}{{entryData.entry.title}}{{/if}}'>
                </div>
            </div>
        </div>
        <div class="row small-spacing">
            <div class="col sm-12 small-spacing">
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="input-block" rows="10" name='content' id="content" autocomplete="off"
                        placeholder="What is on your mind?">{{#if entryData.entry }}{{entryData.entry.content}}{{/if}}</textarea>
                </div>
            </div>
        </div>
        <div class="row flex-right small-spacing">
            {{>deletemodal}}
            <button id="btnSave" type='submit' class="sm-2 col btn-success">Save</button>
        </div>
    </form>
</div>