<div id="entryView">
    {{#if entry}}<h3 id="entryTitle">{{ entry.title }}</h3>{{/if}}
    {{#if entry}}<p id="entryContent">{{ entry.content }}</p>{{/if}}
    <p id="showDate">Date: {{ date }}</p>
    {{#if date }}
    <hr />
    <p><a href="/entry/destroy?date={{date}}">Delete</a>
        | <a href="/entry/edit?date={{date}}">Edit</a></p>
    {{/if}}
</div>