{{#if entry}}<h3>{{ entry.title }}</h3>{{/if}}
{{#if entry}}<p>{{ entry.content }}</p>{{/if}}
<p>Date: {{ date }}</p>
{{#if date }}
    <hr/>
    <p><a href="/entry/destroy?date={{date}}">Delete</a>
     | <a href="/entry/edit?date={{date}}">Edit</a></p>
{{/if}}